# ----------------------
# Python / Django
# ----------------------
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
.env.*
venv/
.venv/
env/
backend/env/

# Django collected/static/media (only if applicable)
staticfiles/
media/

# ----------------------
# Node / React
# ----------------------
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

coverage/
dist/
build/
.next/
out/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# environment variables - SECRETS
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
__pycache__/
*.pyc
env/
venv/
backend/env/

# IDE
/.vscode/

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# SonarQube / SonarCloud
.scannerwork/


backend/env/
backend/.coverage
backend/coverage.xml
backend/.pytest_cache/
backend/pytest-cache-files-*/
backend/htmlcov/
frontend/coverage/
node_modules/
frontend/node_modules/
